.profile-back {
    background-image: url('../../assets/download.jpeg');
    background-size: cover;
}

.profile-back label {
    margin: 1rem;
    color: white;
}

/* * {
    border: violet 1px solid;
} */

/* .profile-form {
    display: flex;
    flex-direction: column;
} */